* {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.answer {
    background-color: aquamarine;
    text-align: center;
    border: 5px solid white;
    cursor: pointer;
}

header {
    background-color: aquamarine;
    text-align: center;
}

#timer {
    position: absolute;
    right: 50px;
    top: 50px;
}

#cancel {
    display: none;
}

#submit {
    display: none;
}

main {
    background-color: bisque;
    margin-top: 100px;
}

form {
    display:none;
}